svg {
    background-color: darkgray;
    box-shadow: 8px 8px black
}

#title {
    font-size: 3em;
}

#source {
    font-size: 1em;
}

#legend {
    width: 300px;
    height: 200px;
    fill: white;
}

.Rape rect {
    fill: $barOne;
}

.Robbery rect {
    fill: $barTwo;
}

.Aggravated rect{
    fill: $barThree;
}

.Murder rect {
    fill: $barFour;
}

.axis path {
    display: none;
}

.x .tick line {
    display: none;
}

text {
    font-weight: bold;
}
.x text { 
    font-size: 2em;
}

.y text {
    font-size: 1.3em;
}

.label {
    font-size: 1.5em;
}