body {
    text-align: center;
    background-color: gray
}

#sources {
    margin-top:15px;
    height: 100px;
    width: 50%;

    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: -15px;
    display: none;
    background-color: lightgray;
}
#portfolio,
#sources-toggle {
    float: left;
    width: 50%;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    color: black;

    a{
        text-decoration: none;
    }
}
#portfolio {
    background-color: darkgray;
}

#sources-toggle {
    background-color: lightgray;
    cursor: pointer;
}


